[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
networkx = "*"
scikit-learn = "*"
pyproj = "*"
osmnx = "*"
matplotlib = "*"
open3d = "*"
deepface = "*"
scikit-image = "*"

[dev-packages]

[requires]
python_version = "3.8"
